data_type=FASTQ

input_dir=/home/brandon/Desktop/Qmatey/examples/WGS_test_data/input_sequences

norm_ref_dir=NA

tool_dir=/home/brandon/Desktop/Qmatey/tools

threads=12

strain_level=TRUE

species_level=TRUE

genus_level=TRUE

family_level=TRUE

blast_location=LOCAL

local_db_dir=/media/brandon/drive_b/Bode_Desktop/nt

remote_db_dir=NA

normalization=TRUE

prep_norm=file

suffix=".R"
