input_dir=/media/drive_d/test1/input_sequences

ref_dir=/media/drive_d/test1/reference_genome

db_dir=/home/bode/nt

ranked_lineage_dir=/media/drive_d/test1/ranked_lineage

prep_norm=file

normfactor=/media/drive_d/test1/libnormfactor.csv

threads=24

suffix=".R"

seq_alignment=90

id_alignment=90


