input_dir=/home/brandon/Desktop/Qmatey/examples/project1/input_sequences/

ref_dir=/home/brandon/Desktop/Qmatey/examples/project1/reference_genome

db_dir=/media/brandon/drive_b/Bode_Desktop/nt

ranked_lineage_dir=/home/brandon/Desktop/Qmatey/tools/

prep_norm=file

normfactor=/media/drive_d/test1/libnormfactor.csv

threads=24

suffix=".R"

seq_alignment=90

id_alignment=90

tool_dir=/home/brandon/Desktop/Qmatey/tools/
