input_dir=/home/brandon/Desktop/Qmatey/examples/project1/input_sequences/

ref_dir=/home/brandon/Desktop/Qmatey/examples/project1/reference_genome

db_dir=/home/brandon/Desktop/db_dir/nt.00

tool_dir=/home/brandon/Desktop/Qmatey/tools/

normfactor=/media/drive_d/test1/libnormfactor.csv

threads=1

percent_thresh=10

prep_norm=file

suffix=".R"
