data_type=FASTQ

input_dir=/home/brandon/Desktop/Qmatey/examples/project1/input_sequences

norm_ref_dir=/home/brandon/Desktop/Qmatey/examples/project1/reference_genome

tool_dir=/home/brandon/Desktop/Qmatey/tools

threads=3

strain_level=TRUE

species_level=TRUE

genus_level=TRUE

family_level=TRUE

blast_location=LOCAL

local_db_dir=/home/brandon/Desktop/db_dir/nt.00

remote_db_dir=NA

normalization=TRUE

prep_norm=file

suffix=".R"
