input_dir=/home/brandon/Desktop/Qmatey/examples/project2/input_sequences/

ref_dir=/home/brandon/Desktop/Qmatey/examples/project2/reference_genome

db_dir=/media/brandon/drive_b/Bode_Desktop/nt

tool_dir=/home/brandon/Desktop/Qmatey/tools/

prep_norm=file

normfactor=/media/drive_d/test1/libnormfactor.csv

threads=24

suffix=".R"

prep_norm=file
