data_type=FASTQ

input_dir=/home/brandon/Desktop/Qmatey/examples/project2/input_sequences

host_dir=/home/brandon/Desktop/Qmatey/examples/project2/reference_genome

tool_dir=/home/brandon/Desktop/Qmatey/tools

threads=3

strain_level=FALSE

species_level=FALSE

genus_level=TRUE

family_level=TRUE

blast_location=LOCAL

local_db_dir=/media/brandon/drive_b/Bode_Desktop/nt

remote_db_dir=NA

endophytic_microbiome=TRUE

prep_norm=file

suffix=".R"
