input_dir=/home/brandon/Desktop/Qmatey/examples/project1/input_sequences

host_dir=/home/brandon/Desktop/Qmatey/examples/project1/reference_genome

tool_dir=/home/brandon/Desktop/Qmatey/tools

threads=3

strain_level=FALSE

species_level=FALSE

genus_level=TRUE

family_level=TRUE

blast_location=REMOTE

local_db_dir=NA

remote_db_dir=nt

endophytic_microbiome=TRUE

prep_norm=file

suffix=".R"
