data_type=FASTQ

input_dir=/home/brandon/Desktop/16S_data/input_sequences

norm_ref_dir=NA

tool_dir=/home/brandon/Documents/Software/Qmatey/tools

threads=10

strain_level=TRUE

species_level=TRUE

genus_level=TRUE

family_level=TRUE

blast_location=LOCAL

local_db_dir=/media/drive_c/16s_directory/16SMicrobial

remote_db_dir=NA

normalization=FALSE

prep_norm=file

suffix=".R"
